{% extends 'base.html.twig' %}

{% block title %}Agri-Ela | A propos de nous
{% endblock %}

{% block body %}

	<section class="jumbotron3">
		<div class="container">
			<div class="texts">
				<h1 class="title">A propos de nous</h1>
				<hr>
				<p>Nous sommes une société spécialisée dans la culture des légumes fruits, dans l'élevage et l'aquaculture. Plus que ça, nous sommes votre accompagnateur, votre serviteur.</p>
			</div>
		</div>
	</section>

	<section class="cards mt">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="card text-center">
						<h3 class="title">Mission</h3>
						<p>Parvenir à une certaine autonomie alimentaire en RDC.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center">
						<h3 class="title">Objectif</h3>
						<p>Offrir des produits de nos terres, sains et frais à bon prix.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center">
						<h3 class="title">Vision</h3>
						<p>Relever notre secteur agricole, aquacole et d'élevage.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="about ptt mt">
		<div class="container text-center">
			<h3>Pourquoi nous choisir ?</h3>
			<br>
			<p>
				Parce que nous offrons des produits locaux, cultivés sur nos terres. Pour notre santé, consommer des produits locaux offre beaucoup d'avantages :
			</p>

			<p>
				<span class="gras">Les aliments locaux ont plus de goûts et sont meilleurs pour la santé</span><br>
				Les produits et légumes locaux sont souvent plus savoureux. En évitant de les faire venir de loin, ils sont de meilleure qualité et nous offrent une fraîcheur incomparable du fait qu'ils ont été cueillis à point, abattus ou péchés à temps.   
																					Les fruits et légumes ainsi que les cultures locaux sont généralement plus nutritifs. les distances courtes auxquelles ils font face limitent l'altération des nutriments. En effet, le temps de transport court limite la durée d'entreposage entre la cueillette et l'arrivée en point de vente, ce qui a tendance à altérer les saveurs des aliments. Les produits locaux n'ont pas à supporter de longs trajets, ils sont retirés à maturité et voyage peu avant d'atteindre nos assiettes; plus les aliments sont frais, plus ils nous feront bénéficier de leurs incroyables qualités nutritives.</p>

			<p>
				<span class="gras">Les fruits et légumes locaux sont meilleurs pour l'environnement</span><br>Privilégier les fruits et légumes locaux est une décision avant tout écologique. Le transport représente 14% des rejets de gaz à effet de serre dans l'atmosphère. En consommant les produits cultivés chez nous, on réduit les distances parcourues par les aliments, donc, on limite les impacts négatifs du transport sur l'environnement.</p>

			<p>
				<span class="gras">Cela permet de soutenir l'économie locale</span><br>Manger local, c'est privilégier ce qui pousse chez nous. C'est encourager les producteurs locaux et soutenir l'économie locale dans son ensemble. cela permet également de préserver notre patrimoine, le savoir-faire local, la diversité des cultures, le paysage agricole et la fierté de notre production.</p>

			<p>
				<span class="gras">C'est moins cher</span><br>Les fruits et légumes locaux ont tendance à être moins chers. Moins coûteux à acheminer, puisqu'il n'y a pas de coûts de transport exorbitants, ils sont vendus moins cher au consommateur final, de quoi alléger considérablement notre portefeuille.</p>
		</div>
	</section>


{% endblock %}
