{% extends 'base.html.twig' %}

{% block title %}Agri-Ela | Accueil!
{% endblock %}

{% block body %}
	<section class="jumbotron">
		<div class="container">
			<div class="texts">
				<h1 class="title">Agri-Ela</h1>
				<hr>
				<p>Nous sommes une société basée en République Démocratique du Congo.
					<br><br>
					Nous produisons, commercialisons et transformons les légumes fruits entre autre la tomate, l'aubergine, le poivron, le gombo et quelques autres légumes; nous sommes également dans l'élevage et l'aquaculture, afin de donner de la valeur ajoutée aux produits congolais.</p>
			</div>
		</div>
	</section>

	<section class="cards mt">
		<div class="container">
			<div class="row" style="align-items:center; padding-bottom: 5em; padding-top: 2em">
				<div class="col-md-6">
					<div class="image">
						<img style="width:100%" src="{{ asset('images/desc1.png') }}" alt="description">
					</div>
				</div>
				<div class="col-md-6">
					<h3 style="font-weight:600; margin-bottom: 20px" class="title">Que mettre dans son assiette?</h3>
					<p style="opacity:.6">Tout le monde est appelé à se nourrir au quotidien et doit faire des choix entre plusieurs aliments en fonction des critères qui peuvent être très différents.</p>
					<hr>
					<p style="opacity:.6">La plupart des gens choisissent leur repas suivant deux critères principaux qui sont la saveur et la facilité à cuisiner le repas. Moins nombreux sont ceux qui font leur choix en fonction de la qualité des aliments et de leur provenance. Et très peu de personnes, au final font leur choix par rapport à leurs besoins énérgetiques ou leur santé.</p>
					<hr>
					<p style="opacity:.6">Ce qui nous piège tous, c'est la notion de plaisir facile qui est parfois induit par de mauvaises habitudes acquises depuis notre enfance. Il est donc primordial de faire attention à la qualité de notre alimentation.</p>
					<hr>
					<p style="opacity:.6">Une alimentation équilibrée mais également de bonne qualité permet de réduire les risques tel que le surpoids, l'obésité, le cancer, les maladies cardiovasculaires ou encore le diabète.</p>
				</div>
			</div>
			<div class="row grid-mobile" style="align-items:center; padding-bottom: 5em; padding-top: 2em">
				<div class="col-md-6 mobile-column-2">
					<h3 style="font-weight:600; margin-bottom: 20px" class="title">Les critères</h3>
					<p style="opacity:.6">Quand on parle dietétique, tout le monde a sa petite idée quant aux bonnes pratiques alimentaires. Il faut faire le tri en se basant sur des éléments crédibles émis par des spécialistes.</p>
					<hr>
					<p class="petitdec">
						<span class="gras">- Qualité</span>: entendu ici comme la capacité à apporter des nutriments assimilables sans ingrédients nocifs pour la santé. La sécurité alimentaire est importante.</p>
					<p class="petitdec">
						<span class="gras">- Varieté</span>: tous les aliments contiennent leurs micronutriments (vitamines, minéraux, etc.). C'est en les variant le plus possible que les micronutriments indispensables à notre santé sont présents dans l'organisme et en favorisent le bon fonctionnement.</p>
					<p class="petitdec">
						<span class="gras">- Quantité</span>: tout aliment apporte des calories, consommé de manière importante, certains peuvent être la source de prise de poids et provoquer des problèmes de santé.</p>
				</div>
				<div class="col-md-6 mobile-column-1">
					<div class="image">
						<img style="width:100%" src="{{ asset('images/desc2.png') }}" alt="description">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="mt products">
		<div class="container">
			<div class="texts">
				<h3 class="title">NOS PRODUITS</h3>
				<P>Nous offrons des produits de bonne qualité, à vous d'en profitez</P>
				<a href="{{ path('app_prod') }}" class="btn-more">Voir plus</a>
			</div>
		</div>
	</section>

	<section class="responsabilities ptt mt">
		<div class="container">
			<h2 class="title">Responsabilté Societale des Entreprises (RSE)</h2>
			<p>La Responsabilité Sociétale des Entreprises, également appelée Responsabilité Sociale des Entreprises, RSE en sigle, désigne la prise en compte par les entreprises des enjeux environnementaux, sociaux, économiques et éthiques dans leurs activités. Les activités des entreprises sont entendues au sens large comme: activités économiques, interactions internes (salariés, dirigeants, actionnaires) et externes (fournisseurs, clients,...)</p>
			<hr>
			<p>Une entreprise qui pratique la RSE cherche donc à avoir un impact positif sur la société, à respecter l'environnement tout en étant économiquement viable. Un équilibre qu'elle va construire avec l'aide de ses parties prenantes, c'est à dire ses collaborateurs, ses consommateurs, ses fournisseurs, ses actionnaires ou les acteurs du territoire.
				<br>Mesurer et évaluer l'impact de ses activités en matière environnementale et sociétale permet à l'entreprise de mieux identifier et donc mieux maîtriser les risques auxquels elle pourrait être confrontrée. Mais aussi d'agir plus efficacement pour réduire son empreinte, mieux s'adapter aux nouvelles cotraintes et dégager de nouvelles opportunités</p>
			<hr>
			<p>A terme, si les entreprises ne prennent pas en compte les impacts environnementaux et sociétaux de leurs activités, c'est leur pérennité qui est menacée. L'approvisionnement des entreprises en matières premières peut devenir problématique au fur et à mesure que les ressources se raréfient voire s'épuisent ou du fait des effets du changement climatique, avec la multiplication des sécheresses et des innondations.</p>
			<hr>
			<p>Agri-Ela avec sa branche arboriculture: "activité consistant à cultiver les arbres" a fait de la lutte contre le rechauffement climatique son affaire. En effet, au cours des dernières années, la plantation d'arbres est devenue la pierre angulaire de nombreuses campagnes environnementales. L'appel à planter des arbres est considéré comme un moyen simple et efficace pour aider à réduire l'impact des émissions de carbone et à restaurer des écosytèmes naturels.
				<br>Les arbres sont des véritables machines à stocker le carbone. Comme toutes les plantes, ils absorbent le dioxyde de carbone présent dans l'atmosphère pour leur croissance et énergie, un processus appelé photosynthèse. Ils produisent de l'oxygène que nous respirons et qui constitue un dérivé de ce processus.</p>
			<hr>
			<p>Tant sur le plan interne qu'externe, Agri-Ela maintent un rapport humain de qualité et préserve l'environnement par une gestion responsable</p>
		</div>
	</section>

{% endblock %}
